
<div>
	<div class="well">
    <h1>Guess Who</h1>
  </div>

	<table class="table table-condensed table-striped">
		<tr>
			<th>Player</th>
			<th>Alias</th>
		</tr>
		<tr ng-repeat="player in players | filter:filterMe">
			<td ng-bind="player.realName"></td>
			<td>
				<input type="text" class="input-small" name="fictionalName" ng-model="newFictionalName" ng-hide="player.fictionalName" >
				<span ng-bind="player.fictionalName" ng-show="player.fictionalName"> </span>
			</td>
			<td>
				<button class="btn btn-success btn-link"
								ng-click="updateFicionalName(player,newFictionalName)"
								ng-hide="player.fictionalName">Save</button>
			</td>


		</tr>
	</table>
	<div class="alert alert-error" ng-bind="error" ng-show="error">
	</div>

	<div class="alert alert-info" ng-hide="players | filter:filterMe">
		You are alone in the game, type refresh when your friends enter
	</div>

	<div class="well">
		<a ng-click="back()" class="btn btn-small btn-info ">Back</a>
		<a ng-click="refresh()"  class="btn btn-small btn-primary pull-right">Refresh</a>
	</div>

</div>

